/* Top bar*/

.navbar{
	position: fixed;
	top:6px;
	width: 99%;
	height: 55px;
	min-width: 550px;
	background-color: #3EA7D1;
	overflow: hidden;
	box-shadow: 3px 3px 5px rgb(26, 26, 26);
	border-radius: 6px; 
}

/* Options for top bar*/

.navbar a {
	font-family: 'Open Sans', cursive;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    float: left;
    text-shadow: #1b1b1b 1.5px 1.5px 1.5px;
}

.navbar a:hover {
	background-color: #1a1a1a; 
	color: #33ff33;
}

.navbar a.active {
	background-color: #1a1a1a; 
	color: #33ff33;
}

/* Background and Text base */

body {
	background-color: #b6e1f6;
	font-family: "Open Sans", sans-serif;
}

h1 {
	color: #ff0000
	font-size: 2.5em;
}