/* Top bar*/

.navbar{
	position: fixed;
	top:6px;
	width: 99%;
	height: 55px;
	min-width: 550px;
	background-color: #3EA7D1;
	overflow: hidden;
	box-shadow: 3px 3px 5px rgb(26, 26, 26);
	border-radius: 6px; 
}

/* Options for top bar*/

.navbar a {
	font-family: 'Open Sans', cursive;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    float: left;
    text-shadow: #1b1b1b 1.5px 1.5px 1.5px;
}

.navbar a:hover {
	background-color: #1a1a1a; 
	color: #33ff33;
}

.navbar a.active {
	background-color: #1a1a1a; 
	color: #33ff33;
}

/* Background and Text base */

body {
	background-color: #b6e1f6;
	font-family: "Open Sans", sans-serif;
}

h1 {
	color: #ff0000
	font-size: 2.5em;
}

.textBody {
    color: #000000;
    margin: auto;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding: 80px;
    border-radius: 0 0 6px 6px;
    text-align: center;
}

button.hideShow {
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
    background-color: transparent;
    transition: 0.5s;
    padding: 8px;
    margin: 4px 0;
    border-radius: 6px;
    font-size: 2em;
    color: #1687a7;
}

button.hideShow.active {
    background-color: rgba(0,24,29,0.8);
    color: #1687a7;
    margin: 4px 4px 0 0;
    border-radius: 6px 6px 0 0;
}

button.hideShow:hover {
    background-color: rgba(0,24,29,0.8);
    color: #33ff33;
    text-shadow: #1b1b1b 1px 1px 2px;
}

div.content {
    background-color: rgba(255,255,255,0.3);
    color: #000;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    transition: 0.3s;

}

div.content.show {
    opacity: 100;
    max-height: 500px;
    padding: 8px;
}