/* Top bar*/

.navbar{
	position: relative;
	top:6px;
	width: 99%;
	height: 54px;
	min-width: 550px;
	background-color: #3EA7D1;
	overflow: hidden;
	box-shadow: 3px 3px 5px rgb(26, 26, 26);
	border-radius: 6px; 
}

/* Options for top bar*/

.navbar a {
	font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    float: left;
    text-shadow: #1b1b1b 1.5px 1.5px 1.5px;
}

.navbar a:hover {
	background-color: #1a1a1a; 
	color: #33ff33;
}

.navbar a.active {
	background-color: #1a1a1a; 
	color: #33ff33;
}

/* Down bar*/
.downbar  {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 100px;
    min-width: 550px;
    background-color: #3EA7D1;
    overflow: hidden;
}

/* Options for down bar*/

.downbar a {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    float: left;
    text-shadow: #1b1b1b 1.5px 1.5px 1.5px;
}

.videos {
    padding: 50px;
    position: relative;
}

/* Background and Text base */

body {
	background-color: #b6e1f6;
	font-family: "Open Sans", sans-serif;
}

h1 {
	color: #000000
	font-size: 2.5em;
}

.textBody {
    color: #000000;
    margin: auto;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding: 80px;
    border-radius: 0 0 6px 6px;
    text-align: center;
}

button.hideShow {
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
    background-color: transparent;
    transition: 0.5s;
    padding: 8px;
    margin: 4px 0;
    border-radius: 10px;
    font-size: 2em;
    color: #1687a7;
}


button.hideShow:hover {
    background-color: rgba(0,24,29,0.8);
    color: #33ff33;
    text-shadow: #1b1b1b 1px 1px 2px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 16px; 
  margin-bottom: 16px; 
  resize: vertical 
  border-radius: 100px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 10px;
  background-color:#f2f2f2 ;
  padding: 10px;
  margin: 0px 500px 0px;
}